.dropbtn {
  background-color: #f3007e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff68d9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(17, 15, 17, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
}

/* Show the dropdown menu on hover */
.dropdown[id="out0"]:hover .dropdown-content[id="out1"]{
  display: block;
}

.dropdown[id="in0"]:hover .dropdown-content[id="in1"]{
  display: block;
  left: 60%;
  background-color: rgb(252, 20, 202);
}
.dropdown[id="gt1"]:hover .dropdown-content[id="gt2"]{
  display: block;
  left: 60%;
  background-color: rgb(252, 20, 202);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ff68d9;
}
